# dependencies
node_modules/

# next.js
.next/
out/

# env files
.env
.env.local
.env.*.local

# misc
.DS_Store

# iOS / Capacitor build artifacts
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/DerivedData/
ios/.xcode.env.local

/lib/generated/prisma
tsconfig.tsbuildinfo
.vercel
